# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
*.coverage
.coverage*
.pytest_cache/
.mypy_cache/
.pytype/
.venv/
env/
venv/

# Env / local config
.env
*.env.local
.envrc

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Builds / dist
build/
dist/
*.egg-info/

# Docker
*.log
